
.vs/BookNest/v17/DocumentLayout.json
.vs/BookNest/config/applicationhost.config
.vs/BookNest/DesignTimeBuild/.dtbcache.v2
.vs/BookNest/FileContentIndex/00f07910-c877-4e1a-9a75-06d2ace10025.vsidx
/.vs/BookNest/FileContentIndex
/.vs/BookNest
/.vs
